.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: $colorheaderfooter;
    padding: 10px 10px;
    
        .menu-nav {
            background-color: $colorheaderfooter;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            width: 100%;
        }

        .nav-item {
          -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
          .nav-link {
            font-family: $fontNav;
          }
}

.atencion {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    margin-right: 10px;
    width: 100%;
}
 @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  
